#wrapper {
    padding: 2vh 2vw;
}
.item {
    height: 300px;
    border-radius: 5px;
    background-color: #ddd;
    overflow: hidden;
}

/*Animation text*/
/* split */
.text-split {
    overflow: hidden;
}

/* timeline */
.text-timeline {
    padding: 0;
    overflow: hidden;
}
.text-timeline span {
    display: inline-block;
}

/* fly */
.text-fly {
    overflow: hidden;
}
.text-fly span {
    display: inline-block;
}